@charset "UTF-8";

.rest_btn{
	margin-left: 10px;
}
.rest_btn_close{
	margin-left: 10px; 
	display: none;
}
.rest{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin-left:10px;
	margin-right:10px;
	display: none;
}
.comment_img{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.bg_gray{
	margin-top:100px;
	width: auto;
	height: 0px;
}
.sum{
float: right;

}
.line{
	clear:both;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.total_price{
	margin-bottom: 50px;
}

.cart_margin{
	float:right;
	margin-bottom: 20px;
}

.kakao-purchase{
	border-width: 1px;
	cursor: pointer;
	line-height: normal;
	padding: 12px 30px;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out;	
	float: right;
	margin-bottom: 20px;
	margin-right: 20px;
}

.admin_btn{
	float: right;
	margin-left: 20px;
}
#prdInfo .cont h3 {
    font-family: 'NotokrBold',sans-serif;
    font-size: 22px;
    color: #111;
    margin-bottom: 20px;
    font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
}

#prdInfo .prdInfo-cont .cont {
	font: 0.75em Verdana,Dotum,AppleGothic,sans-serif;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 13px;
    color: #999;
    margin-bottom: 3px;
    line-height: 1.8;
}
.contents_div_1{
	width: 45%;
	border: solid 1px #687188;
	line-height: auto;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 70px;
	padding: 30px;
}
.contents_div_2{
	width: auto;
	border: solid 1px #687188;
	line-height: auto;
	clear:both;
	margin-left: 30px;
	margin-right: 30px;
	padding: 30px;
}

#page_free{
	z-index:99;
	position:absolute;
	top:10px;
	left:10px;
	text-align:left;
	border:1px solid #000;
	width: 720px;
	height: 850px;
	margin: 300px 1000px;
	padding: 10px;
}
#page_free img{border:10px soild #FFF;}
#page_free .new_btn{width:417px; height: 20px; background: #FFF; padding-top: 10px;text-align: right; border: 10px solid #FFF;}
body, th, td, input, select, textarea {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Montserrat','Noto Sans KR',-apple-system,BlinkMacSystemFont,helvetica,Apple SD Gothic Neo,sans-serif;
    color: #333;
}
.item_choice_list table tbody:last-child tr td {
    border-bottom: 1px solid #dbdbdb;
}
.item_choice_list .cart_prdt_name {
    text-align: left;
    padding: 20px 0 20px 20px;
}
.item_choice_list table colgroup+tbody tr td {
    border: none;
}
 #quantity_minus{
	 width: 30px;
	 height: 30px;
	 text-align: center;
	 padding: 0px; 
	 
}
#quantityNum{
	height: 30px;
	width: 30px; 
	text-align: center;
}

#quantity_plus{
	 width: 30px;
	 height:30px;
	 text-align: center;
	 padding: 0px;
} 

.item_detail_list dt {
    float: left;
    width: 70px;
    margin: 0 10px 0 0;
    color: #888888;
    font-weight: normal;
    word-wrap: break-word;
}
.item_mileage{
	margin-left: 10px;
}

#timeSale_st{
	font-size: 20px;	
	font-style: normal;
}


#timeSalePrice_top , #timeSalePrice_unit{
	 color: #28d893;
	 font-size: 17px;
	 
}

.item_info_box .time_sale {
    overflow: hidden;
    height: 49px;
    margin: 0 0 20px 0;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #dbdbdb;
    background: #f5f5f5;
}
.enter{
	float: left;
	margin-bottom: 20px;
}
.product_title{
	
	clear: left;
}
