<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pet.p1.address.AddressDAO">
  
  <!-- address_insert -->
  <insert id="address_insert" parameterType="AddressVO">
  insert into Address VALUES
  (address_seq.nextval,#{id},#{addr_name},#{rname},#{raddress},#{raddr1},#{raddr2},#{rphone1_1},#{rphone1_2},#{rphone1_3},
  #{rphone},#{rphone1},#{rphone2},0)
  </insert>
  
  
  
  <!-- address_list -->
  <select id="address_list" parameterType="AddressVO" resultType="AddressVO">
	select * from address where id=#{id} order by addressNum desc
  </select>
 
 
 
 <!-- address_select -->
	 <select id="address_select" parameterType="Long" resultType="AddressVO">
	 select * from address where addressNum=#{addressNum} 
	 </select>
 
 
  <!-- address_update -->
  <update id="address_update" parameterType="AddressVO">
  UPDATE address set addr_name=#{addr_name},rname=#{rname},raddress=#{raddress},raddr1=#{raddr1},raddr2=#{raddr2},
  rphone1_1=#{rphone1_1},rphone1_2=#{rphone1_2},rphone1_3=#{rphone1_3},
  rphone=#{rphone},rphone1=#{rphone1},rphone2=#{rphone2},id=#{id}
  where addressNum=#{addressNum}
  </update>
  
		
  <!-- address_delete -->
 <delete id="address_delete" parameterType="List">
 	delete address where addressNum in
 <foreach collection="list" item="addressNum" open="(" close=")" separator=",">
 		#{addressNum}
 </foreach>
  
  </delete>

  
  
  </mapper>