<?xml version="1.0" encoding="UTF-8"?>

  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pet.p1.coupon.CouponDAO">
  
  <select id="couponList" resultType="CouponVO" parameterType="MemberVO">
  	select * from coupon where num in(select num from couponinfo where id = #{id})
  </select>
  
   <insert id="coupon" parameterType="MemberVO">
  	insert into couponInfo VALUES(1,'회원가입 5000원 할인쿠폰',#{id})
  </insert>
  
  
  </mapper>